@page "/products"
@using Volo.Abp.Application.Dtos

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<BookStoreResource> L
@inherits AbpCrudPageBase<IBookAppService, BookDto, int, PagedAndSortedResultRequestDto, CreateUpdateBookDto>

<h2>products</h2>
